<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" th:href="@{/favicon.ico}">

<title>LasPircasApp | Listado de Propietarios/Inquilinos</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"> </header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Usuarios/Administradores</strong>
				</h4>
				<div class="card-body">
					<a class="btn btn-primary" th:href="@{/usuarios/signup}"
						role="button"><i title="Agregar Portero"
						class="fas fa-file" aria-hidden="true"></i> Nueva</a>
					<hr>
					<div th:if="${msg != null}" class='alert alert-success'
						th:text="${msg}" role='alert'></div>
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Username</th>
								<th scope="col">Estatus</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u: ${usuarios}">
								<td th:text="${u.id}"></td>
								<td th:text="${u.nombre}"></td>
								<td th:text="${u.apellido}"></td>
								<td th:text="${u.username}"></td>
 								<td th:text="${u.estatus == 1 ? 'Activo' : 'Bloqueado' }">Activo</td>
 								<td>
 									<a sec:authorize="hasAnyAuthority('ADMINISTRADOR')"
									   th:href="@{/usuarios/delete/{id} (id=${u.id})}"
									   onclick="return confirm('¿Estas seguro?')"
									   class="btn btn-success btn-sm" role="button" title="Eliminar">
									   <i class="fas fa-trash" aria-hidden="true"></i>
									</a>
									<span th:switch="${u.estatus}"> 
                    
                      <a th:case="'1'" th:href="@{/usuarios/lock/{id} (id=${u.id}) }" onclick="return confirm('¿Quiere bloquear el acceso al usuario?')" class="btn btn-success btn-sm" role="button" title="Bloquear el acceso al sistema para este usuario."><i class="fas fa-lock" aria-hidden="true"></i></a>	
					  <a th:case="'0'" th:href="@{/usuarios/unlock/{id} (id=${u.id}) }" onclick="return confirm('¿Desea desbloquear el usuario?')" class="btn btn-success btn-sm" role="button" title="Permitir el acceso al sistema a este usuario."><i class="fas fa-unlock" aria-hidden="true"></i></a>
					   
					</span>
								</td>

						</tbody>
					</table>

				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer class="footer" th:insert="fragments/footer :: pie-pagina">

	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>