<nav th:fragment="menu-principal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http:www.thymeleaf.org/extras/spring-security"
	class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	
	<a class="navbar-brand" th:href="@{/home}">LasPircasApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/propietarios/index}">Propietarios</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/visitas/index}">Visitas</a>
			</li>
			
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Porteria </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/porteros/index}">Registro de Propietarios/Egresos</a>
					<a class="dropdown-item" th:href="@{/porteros/index2}">Registro de Visitas/Ingresos</a> 
					<a class="dropdown-item" href="#">Porteros</a>
					<!-- <div class="dropdown-divider"></div> -->
					<a class="dropdown-item" href="#">Personal Domestico!</a>
					<a class="dropdown-item" href="#">Informacion Importante!</a>
				</div>
			</li>

		</ul>
		<div sec:authorize="isAnonymous()">
			<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp;
		</div>
		<div sec:authorize="isAuthenticated()">
		<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>&nbsp;
			<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
		</div>
<!-- 		<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp; -->
<!-- 		<a class="btn btn-primary" href="#">Registrarse</a> -->
<!-- 		<span th:if="${session.usuario != null}" class="text-light" th:text="'Bienvenido ' + ${session.usuario.username}"></span>&nbsp;  -->
<!-- 		<a class="btn btn-primary" th:href="@{/logout}">Salir</a> -->
	</div>
</nav>