<nav th:fragment="menu-principal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http:www.thymeleaf.org/extras/spring-security"
	class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	
	<a class="navbar-brand" th:href="@{/}">LasPircasApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link active" th:href="@{/}">Inicio</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/propietarios/index}">Propietarios</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/visitas/index}">Visitas</a>
			</li>
			
			<!--  <li class="nav-item"><a class="nav-link"
				th:href="@{/porteros/index}">Porteria</a>
			</li>-->
			
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Porteria </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/porteros/index}">Ingresos Propietarios/Egresos</a>
					<a class="dropdown-item" th:href="@{/porteros/indexVisita}">Ingresos Visitas/Egresos</a> 
					<a class="dropdown-item" href="#">Porteros</a>
					<!-- <div class="dropdown-divider"></div> -->
					<a class="dropdown-item" href="#">Personal Domestico!</a>
					<a class="dropdown-item" href="#">Informacion Importante!</a>
				</div>
			</li>

		</ul>
		<a class="btn btn-primary" href="#">Ingresar</a>&nbsp; <a
			class="btn btn-primary" href="#">Registrarse</a>
	</div>
</nav>