<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" th:href="@{/favicon.ico}">

<title>LasPircasApp | Detalles del Propietario</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal "> </header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<h4 class="p-3 mb-2 bg-success text-white">
							<strong th:text="${propietario.nombre}"></strong> <strong
								th:text="${propietario.apellido}"></strong>
						</h4>
						<div class="card-body">
							<h5 class="card-title">
								<strong>Categoría: </strong> <span
									th:text=${propietario.categoria}></span>
							</h5>
							<h6 class="card-title">
								<strong>Email: </strong><span th:text="${propietario.email}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Documento: </strong><span
									th:text="${propietario.documento}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Vehiculo: </strong><span
									th:text="${propietario.vehiculo}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Dominio: </strong><span th:text="${propietario.dominio}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Lote: </strong> <span th:text="${propietario.lote}"></span>
								<strong>Casa: </strong><span th:text="${propietario.numero}"></span>
							</h6>
							<div class="card bg-light mb-3"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer">

	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
